/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: "dnp-shuei-gothic-gin-std", sans-serif;
$en-fonts: "Montserrat", sans-serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #000;
$yellow-cl: #a99055;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #f7f7f7;
$dominant-cl: #ccc;

:root {
  --app-height: 100vh;
  --padd: 6.944vw;
}
